@model IEnumerable<Concesionario_Vehiculos_18_11.Models.Vehiculo>

@{
    ViewBag.Title = "Detalle";

}

<h2>Detalle</h2>

<div class="radio">
    <label><input type="radio" name="optradio" checked="checked" id="radiomarca">Marca</label>
</div>
<div class="radio">
    <label><input type="radio" name="optradio" id="radiomatricula">Matricula</label>
</div>


<br />
<input type="text" id="txtbuscamarca" placeholder="Busca Marca" />
<button id="btnBusMarca" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Buscar</button>
<br /><br />

<div id="losvehiculos">

    @Html.Partial("_listadoVehiculos", Model)


</div>


@section ElYavaescrip
{
    <script>

        function listadomarcas() {
            var url = "@Url.Action("BuscarMarca")";
            var txt = $("#txtbuscamarca").val();
            url += "?marca=" + txt;

            $("#losvehiculos").load(encodeURI(url));
        };

        function listadomatriculas() {
            var url = "@Url.Action("BuscarMatricula")";
            var txt = $("#txtbuscamarca").val();
            url += "?matricula=" + txt;

            $("#losvehiculos").load(encodeURI(url));
        };






        $("#btnBusMarca").click(function () {
            if (document.getElementById("radiomarca").checked) {
                listadomarcas();
            } else {
                listadomatriculas();
            }
        });
        $("#btnBusMatricula").click(listadomatriculas);







    </script>


}
